@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

:root {
    --headingSize: 5rem;
    --textSize: 1.4rem;
    --textFont: 'Lustria', serif;
    --pink: #F0D3F7;
    --boardBg: #826C7F;
}

body {
    margin: 0px;

    background-image: url(../assets/Wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
}

header {
    padding: var(--textSize) 0px;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: var(--headingSize);
    letter-spacing: 5px;
    color: var(--pink);

    display: flex;
    justify-content: center;
}

main {
    flex: 1 0 auto;
    font-family: var(--textFont);
    font-size: var(--textSize);
    color: var(--pink);
}

footer {
    padding: 0.5rem;
    font-family: var(--textFont);
    font-size: var(--textSize);
    margin-top: auto;

    display: flex;
    justify-content: center;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.boardsContainer {
    margin-top: var(--textFont);
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
}

.playerHead {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.gameBoard {
    margin: 0 3rem;
    margin-bottom: 3rem;
    background-color: var(--boardBg);
    width: 500px;

    display: flex;
    flex-direction: column;
}

.box:hover {
    background-color: var(--pink);
}