@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

:root {
    --headingSize: 5rem;
    --defaultPad: 3rem;
    --textSize: 1.4rem;
    --textFont: 'Lustria', serif;
    --shipColor: #44344F;
    --pink: #F0D3F7;
    --boardBg: #826C7F;
}

body {
    margin: 0px;

    background-image: url(../assets/Wave.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
}

header {
    padding: var(--textSize) 0px;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: var(--headingSize);
    letter-spacing: 5px;
    color: var(--pink);

    display: flex;
    justify-content: center;
}

main {
    flex: 1 0 auto;
    font-family: var(--textFont);
    font-size: var(--textSize);
    color: var(--pink);
}

footer {
    padding: 0.5rem;
    font-family: var(--textFont);
    font-size: var(--textSize);
    margin-top: auto;

    display: flex;
    justify-content: center;
}

.overlay {
    position: absolute;
    display: flex; /* flex */
    justify-content: center;

    height: 100vh;
    width: 100%;

    background-color: rgba(120, 120, 120, 0.4);
}

.startDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5%;
    width: 700px;
    height: max-content;
    font-size: var(--textSize);

    background-color: black;
    color: var(--pink);
    border-radius: 5px;
}

.instr {
    margin: 2rem 0px;
    font-size: 2rem;
}

#axisBtn {
    width: 200px;
    padding: 5px;
    font-family: inherit;
    font-size: var(--textSize);

    background-color: var(--pink);
    color: black;
    margin-bottom: 2rem;
    border: none;
}

#axisBtn:hover {
    background-color: var(--boardBg);
}

.container{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
}

.boardsContainer {
    margin-top: var(--textFont);
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
}

.playerHead {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.gameBoard {
    margin: 0 var(--defaultPad);
    margin-bottom: var(--defaultPad);
    background-color: var(--boardBg);
    width: 500px;

    display: grid;
    grid-template: repeat(10, 50px) / repeat(10, 50px);
}

.box {
    margin: 0;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.hoverBox:hover {
    background-color: var(--pink);
}

.shipHover {
    background-color: var(--shipColor);
}